---
layout: default
---

{{ content }}

<h2 class="sec">News <p class="header-link">[<a href="{{ "/posts.xml" | relative_url }}">Subscribe</a>]</p></h2>
<div class="blog-posts">
{% for post in site.posts limit:4 %}
{% include post-blurb.html post=post %}
{% endfor %}
<div class="blog-post">
    <div class="blog-date blog-date-flex"></div>
    <div class="blog-desc blog-desc-flex">
        <a href="{{ "/posts.html" | relative_url }}">Older News...</a>
    </div>
</div>
</div>

<h2 class="sec">Publications <p class="header-link">[<a href="https://dblp.org/pid/222/2985.html">DBLP</a>]</p> <p class="header-link">[<a href="https://scholar.google.com/citations?hl=en&user=z4xAiu8AAAAJ&view_op=list_works&sortby=pubdate">Google Scholar</a>]</p></h2>
<h3>Conference Papers</h3>
{% assign papers = site.data.papers | where_exp:"paper","paper.type == 'conference'" %}
{% include paper-list.html papers=papers %}

<!--
<h3>Journal Papers</h3>
{% assign papers = site.data.papers | where_exp:"paper","paper.type == 'journal'" %}
{% include paper-list.html papers=papers %}
-->

<h3>Workshop Papers</h3>
{% assign papers = site.data.papers | where_exp:"paper","paper.type == 'workshop'" %}
{% include paper-list.html papers=papers %}

<!--
<h3>Posters & Talks</h3>
{% assign papers = site.data.papers | where_exp:"paper","paper.type == 'poster'" %}
{% include paper-list.html papers=papers %}

<h3>Theses</h3>
{% assign papers = site.data.papers | where_exp:"paper","paper.type == 'thesis'" %}
{% include paper-list.html papers=papers %}

<h2 class="sec">Teaching (Teaching Assistant)</h2>
Fall 2020: <a href="https://omscs.gatech.edu/cse-6220-intro-hpc">CSE 6220: Introduction to High Performance Computing</a>
